{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h5>{{ .Title | markdownify }}</h5>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <div class="entry-content">
        {{ .Name | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
